# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
myvenv/
myvenv1/

# Django stuff
*.log
db.sqlite3
media/

# Django migrations (optional)
# **/migrations/*.py
# !**/migrations/__init__.py

# Static files
staticfiles/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python distribution
build/
dist/
*.egg-info/

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/